<div
  style="
    width: 100%;
    height: 100vh;
    background: #312393;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  "
>
  <mat-card style="width: 100%; display: flex; justify-content: center; align-items: center; align-content: center; flex-direction: column;">
    <mat-card-header>
    <mat-card-title style="font-size: 2rem;">INDRA TEST</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Please select a pdf File
        </p>
        <div style="margin: 1rem;" *ngFor="let document of documents">
          <button (click)="GoToDocument(document.name)"  mat-stroked-button> <mat-icon aria-hidden="false" aria-label="Example home icon">auto_stories</mat-icon>
             {{document.name}}</button>
        </div>
      </mat-card-content>

  </mat-card>
</div>
